.history {
  background: #a4adca50;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.last-scanned-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #a4adca70;
  border-radius: 8px;
}

.last-scanned-item:hover {
  background: #a4adca60;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.last-scanned-item:last-child {
  border-bottom: none;
}

.date {
  font-style: italic;
  color: #666;
}

.pdf-link {
  color: #2c3a48;
  text-decoration: none;
  font-weight: bold;
}

.pdf-link:hover {
  text-decoration: underline;
}

.fas.fa-image {
  margin-right: 5px;
}
