@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.graph {
  flex: 1;
  height: 250px;
  color: black;
  background-color: #ffffff;
  margin: 20px;
  margin-right: 80px;
  box-shadow: 2px 2px 2px 0px rgba(128, 128, 128, 0.1);
}

.card {
  position: relative;
  display: flex;
  padding: 10px;
  margin: 20px;
  background-color: #ffffff;
  height: 100px;
  width: 200px;
  border-radius: 3%;
  border-color: #ffffff;
  box-shadow: 2px 2px 2px 0px rgba(128, 128, 128, 0.1);
}
