* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f7f7f7;
}
.logo {
  font-size: 22px;
}

.fa-regular.fa-moon {
  font-size: 23px;
}
.fa-solid.fa-user {
  font-size: 23px;
}
.sidebar {
  position: fixed;
  width: fit-content;
  height: 100%;
  background: #1b1c1e;
}

.sidebar ul {
  margin-top: 50px;
  list-style: none;
  padding: 0;
  align-items: center;
}

.sidebar ul li a {
  color: #dfdfe1;
  display: block;
  text-decoration: none;
  transition: margin-left 0.3s;
}
.bottompart {
  position: absolute;
  margin-top: 260px;
}

.sidebar ul li {
  padding: 20px;
  width: 170px;
  margin-left: 15px;
  margin-right: 15px;
  color: #dfdfe1;
  border-radius: 30px 30px 30px 30px;
  transition: background-color 0.3s, transform 0.3s;
}
.sidebar ul li:hover {
  background: #323335;
  transition: background-color 0.5s, transform 0.3s;
}
.sidebar ul li:hover a {
  color: #dfdfe1;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.main-content {
  margin-left: 220px;
  padding: 2rem;
}

.main-text {
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1.5rem;
  max-width: fit-content;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.history {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  border-bottom: #202c2d;
}

.last-scanned-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #a4adca70;
  border-radius: 8px;
}

.last-scanned-item:hover {
  background: #a4adca60;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.last-scanned-item:last-child {
  border-bottom: none;
}

.date {
  font-style: italic;
  color: #202c2d;
}

.pdf-link {
  color: #202c2d;
  text-decoration: none;
  font-weight: bold;
}

.pdf-link:hover {
  text-decoration: underline;
}

.fas.fa-image {
  margin-right: 5px;
}
