* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f7f7f7;
}
.logo {
  font-size: 22px;
}

.fa-regular.fa-moon {
  font-size: 23px;
}
.fa-solid.fa-user {
  font-size: 23px;
}
.nav-content i {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  width: fit-content;
  height: 100%;
  background: #1b1c1e;
}

.sidebar ul {
  margin-top: 50px;
  list-style: none;
  padding: 0;
  align-items: center;
}

.sidebar ul li a {
  color: #dfdfe1;
  display: block;
  text-decoration: none;
  transition: margin-left 0.3s;
}
.bottompart {
  position: absolute;
  margin-top: 260px;
}

.sidebar ul li {
  padding: 20px;
  width: 170px;
  margin-left: 15px;
  margin-right: 15px;
  color: #dfdfe1;
  border-radius: 30px 30px 30px 30px;
  transition: background-color 0.3s, transform 0.3s;
}
.sidebar ul li:hover {
  background: #323335;
  transition: background-color 0.5s, transform 0.3s;
}
.sidebar ul li:hover a {
  color: #dfdfe1;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.main-content {
  margin-left: 220px;
  padding: 2rem;
}

.main-text {
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1.5rem;
  max-width: fit-content;
}

.scan-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.urlpaste {
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
  width: 65%;
  box-sizing: border-box;
  border: 1px solid #00000052;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.4s ease;
}
.urlpaste:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.scanbutton {
  background: #ffffff;
  color: #202c2d;
  padding: 20px;
  border-radius: 8px;
  border: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease;
}

.scanbutton:hover {
  color: #fff;
  background-color: #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  /* Adjust navbar for mobile view */

  /* Adjust sidebar for mobile view */
  .sidebar {
    margin-top: 80px;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
  }

  .sidebar ul li {
    display: block; /* Stack list items vertically */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  /* Adjust main content for mobile view */
  .main-content {
    margin-top: 0;
    margin-left: 0;
    padding: 10px;
  }

  /* Adjust info-container for stacking on small screens */
  .info-container {
    flex-direction: column;
  }
}

/* Additional responsive adjustments for very small screens */
@media (max-width: 480px) {
  /* Further adjustments can be added here if necessary */
}
